.navbar{
    @include flex-row();
    background-color: $dark;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .left-side, .mid-side, .right-side{
        @include flex-row();
        width: 33.33%;
    }
    .left-side{
        justify-content: flex-start;
    }
    .mid-side{
        justify-content: center;
    }
    .right-side{
        justify-content: flex-end;
    }

    .navbar-icon{
        font-size: 4rem;
        color: $green;
        margin: 0 0.6rem;
        padding: 0.5rem;
        @include icon();
    }
    .navbar-icon:hover{
       @include icon-hover();
    }
}